html {
  font-family: "Lucida Sans", sans-serif;
}

header {
  background-color: #adb1ca;
  color: #343232;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  margin-top: 10px;
  display:block;
  clear:both;
}

#container{
  padding: 50px;
}

#btnGetDirections{
  display: block;
  margin-bottom: 10px;
}

#map-area {
  height: 40vh;
  border-radius: 20px;
}

#directionsPanel{
  float:left;
  width:100%;
  height: 100%;
  padding: 10px;
  background-color: #adb1ca;
  border-radius: 20px;
}

#distance-dl dt{
  font-weight:bold;
}

.tweets{
  height: 40vh;
  width: 50%;
  overflow: scroll;
  color: #ffffff;
}

#weather{
  color: #ffffff;
  width: 50%;
}

.top{
  display: flex;
}

.options{
  padding: 10px;
}

.about{
    justify-content: center;
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    
    
}

.text{
  background-color: #adb1ca;
  border-radius: 20px;
  padding: 20px;
}